[submodule "VirtualDesktop"]
    path = VirtualDesktop
    url = https://github.com/MScholtes/VirtualDesktop.git
    ignore = dirty

[submodule "Win32HotkeyListener"]
    path = Win32HotkeyListener
    url = https://github.com/RobertMueller2/Win32HotkeyListener.git
[submodule "msbuild.cfg examples"]
	path = msbuild.cfg examples
	url = git@github.com:RobertMueller2/msbuild.cfg-examples.git
