[submodule "VirtualDesktop"]
    path = VirtualDesktop
    url = https://github.com/MScholtes/VirtualDesktop.git
    ignore = dirty

[submodule "Win32HotkeyListener"]
    path = Win32HotkeyListener
    url = https://github.com/RobertMueller2/Win32HotkeyListener.git
