<Project Sdk="Microsoft.NET.Sdk">

  <ItemGroup>
    <Reference Include="VirtualDesktop">
      <HintPath>VirtualDesktop\VirtualDesktop1803.exe</HintPath>
    </Reference>
    <Reference Include="System.Windows.Forms" />
  </ItemGroup>

</Project>